@{
	ViewData["Title"] = "Update Classroom";
}
@model UpdateClassroomVM

<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Sınıf Güncelle</h3>
			</div>
			<form asp-action="UpdateClassroom">
				<input type="hidden" asp-for="Id"/>
				<div class="card-body">
					<div>
						<label asp-for="Name" class="form-label"></label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div>
						<label asp-for="StartDate" class="form-label"></label>
						<input type="date" asp-for="StartDate" class="form-control" />
						<span asp-validation-for="StartDate" class="text-danger"></span>
					</div>
					<div>
						<label asp-for="EndDate" class="form-label"></label>
						<input type="date" asp-for="EndDate" class="form-control" />
						<span asp-validation-for="EndDate" class="text-danger"></span>
					</div>

					<div>
						<label asp-for="TeacherId" class="form-label"></label>
						<select asp-for="TeacherId" asp-items="ViewBag.Teachers" class="form-control">
							<option disabled value="0">Bir eğitmen seçiniz!</option>
						</select>
						<span asp-validation-for="TeacherId" class="text-danger"></span>
					</div>

				</div>
				<div class="card-footer d-flex align-items-center justify-content-between" style="height:50px">
					<a asp-action="Index" class="btn btn-outline-dark">Geri Dön</a>
					<button type="submit" class="btn btn-outline-success">Kaydet</button>
				</div>
			</form>
		</div>
	</div>
</div>