@if (User.Identity!.IsAuthenticated)
{
	if (User.IsInRole("Admin") || User.IsInRole("CustomerManager"))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
				<img width="30" height="30" src="~/items/blogger.png" />
				Yönetim Paneli
			</a>
		</li>
	}
	if (User.IsInRole("Teacher"))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Education" asp-controller="Teachers" asp-action="MyClassrooms">
				<img width="30" height="30" src="~/items/blogger.png" />
				Sınıflarım
			</a>
		</li>
	}
	if (User.IsInRole("Student"))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Education" asp-controller="Students" asp-action="StudentDetail">
				<img width="30" height="30" src="~/items/blogger.png" />
				Notlarım
			</a>
		</li>
	}
	<li class="nav-item mx-2">
		<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="EditUser">
			<img width="30" height="30" src="~/items/user.png" />  Bilgileri Düzenle
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" id="logoutBtn" data-logout-url="@Url.Action("Logout", "Account")" href="#">
			<img width="30" height="30" src="~/items/exit.png" />  Çıkış Yap
		</a>
	</li>
}
else
{

	<li class="nav-item mx-2">
		<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">
			<img width="30" height="30" src="~/items/import.png" /> Giriş Yap
		</a>
	</li>
}
